.contact_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bababa;
  padding: 0 0 10px 0;
}

.user_image {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.contact_header_profile {
  display: flex;
  flex-direction: column;
}

.body_button {
  border: 1px solid #bababa;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px;
}
