.active {
    border-bottom: 3px solid red;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0 60px;

    
}

.active:focus,
.active:active {
  border-bottom: 1px solid red;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 60px;
}
