.active {
  border-bottom: 3px solid red;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.active:focus,
.active:active {
  border-bottom: 1px solid red;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.container {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
}

.color {
  color: #bababa;
}
